.app {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "output output";
  grid-template-rows: fit-content(50%) 3fr minmax(5rem, 1.2fr);
  grid-template-columns: auto 1fr;
  gap: 1px;
  background-color: black;
  height: 100vh;
}

.app__header {
  grid-area: header;
  margin: 0;
  padding: 10px;
  background-color: white;
}

.app__sidebar {
  grid-area: sidebar;
  justify-self: center;
  background-color: #ddd;
}

.app__graph {
  grid-area: content;
  background-color: white;
}

.app__output {
  grid-area: output;
  background-color: white;
}
