.app {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-rows: fit-content(50%) auto;
  grid-template-columns: min-content minmax(400px, auto);
  gap: 1px;
  background-color: black;
  height: 100vh;
}

.app__header {
  grid-area: header;
  text-align: center;
  margin: 0;
  padding: 0.4em 0;
  background-color: white;
}

.app__sidebar {
  grid-area: sidebar;
  justify-self: center;
  background-color: #ddd;
}

.app__graph {
  grid-area: content;
  background-color: white;
}
