.react-flow__node-command {
  /* all builtin react-flow node types */
  padding: 10px;
  border-radius: 3px;
  min-width: 150px;
  font-size: 12px;
  color: #222;
  border-width: 1px;
  border-style: solid;
  /* specific to -default */
  background: #fff;
  border-color: #1a192b;
}

.react-flow__node-command.selected {
  box-shadow: 0 0 1px 1px black;
}

.node__commandline {
  font-family: monospace;
  text-align: center;
  line-height: 2;
}

.node__control {
  line-height: 2;
}
